# Iris Flowers Classification ML Project :

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
iris = pd.read_csv('iris.csv')

In [3]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
x = iris[['SepalLengthCm',"SepalWidthCm",'PetalLengthCm','PetalWidthCm']]
y = iris[['Species']]

In [6]:
y

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [8]:
y_train

             Species
32       Iris-setosa
107   Iris-virginica
139   Iris-virginica
46       Iris-setosa
0        Iris-setosa
..               ...
12       Iris-setosa
108   Iris-virginica
91   Iris-versicolor
81   Iris-versicolor
97   Iris-versicolor

[112 rows x 1 columns]

In [9]:
x_train.shape

(112, 4)

In [10]:
x_test.shape

(38, 4)

In [11]:
regressor = LogisticRegression()

In [12]:
regressor.fit(x_train,y_train)

LogisticRegression()

In [13]:
y_pred = regressor.predict(x_test)

In [14]:
#Now we will checking the testing data with the predictions
ml = pd.DataFrame({'Real': y_test['Species'], 'Predicted': y_pred})
ml

                Real        Predicted
1        Iris-setosa      Iris-setosa
16       Iris-setosa      Iris-setosa
101   Iris-virginica   Iris-virginica
112   Iris-virginica   Iris-virginica
90   Iris-versicolor  Iris-versicolor
45       Iris-setosa      Iris-setosa
10       Iris-setosa      Iris-setosa
103   Iris-virginica   Iris-virginica
88   Iris-versicolor  Iris-versicolor
118   Iris-virginica   Iris-virginica
115   Iris-virginica   Iris-virginica
24       Iris-setosa      Iris-setosa
3        Iris-setosa      Iris-setosa
106   Iris-virginica  Iris-versicolor
111   Iris-virginica   Iris-virginica
137   Iris-virginica   Iris-virginica
7        Iris-setosa      Iris-setosa
42       Iris-setosa      Iris-setosa
54   Iris-versicolor  Iris-versicolor
100   Iris-virginica   Iris-virginica
53   Iris-versicolor  Iris-versicolor
18       Iris-setosa      Iris-setosa
55   Iris-versicolor  Iris-versicolor
102   Iris-virginica   Iris-virginica
86   Iris-versicolor  Iris-versicolor
84   Iris-versicolor  Iris-versicolor
132   Iris-virginica   Iris-virginica
148   Iris-virginica   Iris-virginica
26       Iris-setosa      Iris-setosa
123   Iris-virginica   Iris-virginica
66   Iris-versicolor  Iris-versicolor
136   Iris-virginica   Iris-virginica
93   Iris-versicolor  Iris-versicolor
87   Iris-versicolor  Iris-versicolor
124   Iris-virginica   Iris-virginica
23       Iris-setosa      Iris-setosa
113   Iris-virginica   Iris-virginica
27       Iris-setosa      Iris-setosa

In [15]:
classification_report(y_test.Species, y_pred)

'                 precision    recall  f1-score   support\n\n    Iris-setosa       1.00      1.00      1.00        12\nIris-versicolor       0.91      1.00      0.95        10\n Iris-virginica       1.00      0.94      0.97        16\n\n       accuracy                           0.97        38\n      macro avg       0.97      0.98      0.97        38\n   weighted avg       0.98      0.97      0.97        38\n'

In [16]:
print('Accuracy of Model: ',accuracy_score(y_pred,y_test.Species)*100)

Accuracy of Model:  97.36842105263158

# Thank You..